.friendsHolder{
    position: fixed;
    height:100%;
}

.friendsHeader{
    color:white;

}

.friends{
    background-color: rgb(122, 177, 228);
    border-radius: 2px;
    color:white;

    .addFriend{
        background-color: #0C4376; 
        color:white;
    }
}